body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.flex-part{
    display: flex;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    }
    .middle-banner{
        background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 100px;
    }
.half-width{
     margin-left: 100px;
    width: 50%;
   /*padding-left: 5%;*/
}
.half-width img{
   width: 80%;
}
.orange{
    color: orangered;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(blue,skyblue);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
}